In [1]:
%pylab inline

import numpy as np
import pandas as pd

import random
import time

import scipy.stats as st
import statsmodels.api as sm

import os
import itertools as it

import pyflux as pf

pd.set_option('display.max_columns', 500)

Populating the interactive namespace from numpy and matplotlib

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y/%m/%d 00:00:00') 

history_raw = pd.read_csv('EGG by day.csv', header=0, sep=";", quoting=3, decimal='.', parse_dates=['Календарный день'],
                          date_parser=dateparse, encoding = 'cp1251')

print(history_raw.shape)
history_raw.head(1)

(23682736, 8)

,ЦФО,Идентификатор PLU,Наименование PLU,Календарный день,Филиал,Вид Промо,"Продажи, натур. ед. (SUM)",Цена товара (AVG)
0,E1007523,3182856,ТЕНДЕР Яйца куриные С1 столовое фас.10шт,2016-09-27,UG,Z007,37.0,39.81

In [3]:
history_raw.columns = ['CFO','PLU', 'Desc', 'Day','Cluster','Promo','Qty','Price']

In [4]:
history_data = history_raw.sort_values(['CFO', 'PLU', 'Day','Qty']).reset_index(drop=True)
history_data = history_data.drop_duplicates(subset=['CFO', 'PLU', 'Day'], keep='last').reset_index(drop=True)

In [5]:
history_data['week_start'] = history_data['Day'] - pd.to_timedelta((history_data['Day'].dt.dayofweek+6)%7, unit='d')
history_data['Week'] = history_data['week_start'].dt.week

In [6]:
history_data['category'] = history_data['Desc'].replace({'(С2|2кат|2 кат).*':2, '(С1|1кат|1 кат).*':1, 
                                                         '(С0|СО|тбор).*':0, '(С3).*':3}, regex=True)
history_data.loc[~history_data['category'].isin([0,1,2,3]), 'category'] = -1

In [7]:
history_data['Reg_promo'] = 0
history_data.loc[history_data['Promo']=='Z001','Reg_promo'] = 1

---

In [53]:
history_week = history_data.groupby(['Cluster', 'PLU', 'week_start', 'Week', 'category'], 
               as_index=False).agg({'Qty':np.sum,'Reg_promo':np.sum, 'CFO':'count'})

In [54]:
history_week[(history_week['PLU']==3474420) & (history_week['Cluster']=='TA')]

     Cluster      PLU week_start  Week  category      Qty  Reg_promo   CFO
6280      TA  3474420 2017-04-04    14         1   8431.0          0  2037
6281      TA  3474420 2017-04-11    15         1  28780.0          0  2725
6282      TA  3474420 2017-04-18    16         1  12656.0          0  1668

In [9]:
base_plu = [3182856, 3182857, 3474420, 3182853, 3182864]
history_week = history_week[history_week['PLU'].isin(base_plu)]
history_week['Reg_promo'] = np.where(history_week['Reg_promo']>100, 1, 0)
history_week = history_week[history_week['Qty'] > 1000]
history_week = history_week[history_week['week_start']>pd.Timestamp('2015-02-01')]
# history_week['Qty'] = history_week['Qty']/history_week['CFO']
history_week = history_week[history_week['week_start']>pd.Timestamp('2015-02-01')]
history_week = history_week[(history_week['Cluster']!='UR')|(history_week['week_start']>pd.Timestamp('2015-12-01'))]
history_week = history_week[(history_week['Cluster']!='SB')|(history_week['week_start']>pd.Timestamp('2016-08-30'))]
history_week = history_week[(history_week['Cluster']!='CT')|(history_week['PLU']!=3182864)]
history_week = history_week[(history_week['Cluster']!='UR')|(history_week['PLU']!=3182864)|
                            (history_week['week_start']>pd.Timestamp('2016-10-04'))]
history_week = history_week[(history_week['Cluster']!='UR')|(history_week['PLU']!=3182864)|
                            (history_week['week_start']>pd.Timestamp('2016-10-04'))]
history_week = history_week[(history_week['Cluster']!='TA')|(history_week['PLU']!=3182853)|
                            (history_week['week_start']>pd.Timestamp('2016-01-01'))]
history_week = history_week[(history_week['Cluster']!='SB')|(history_week['PLU']!=3182857)|
                            (history_week['week_start']>pd.Timestamp('2016-11-01'))]

---

In [10]:
promo_raw = pd.read_excel("EDF_05 r.xlsx")
promo_raw = promo_raw.rename(columns={'Филиал':'Cluster', 'Материал':'PLU'})
promo_raw.head(1)

,Cluster,PLU,2017-05-02 00:00:00,2017-05-09 00:00:00,2017-05-16 00:00:00,2017-05-23 00:00:00
0,CH,3182853,NaN,NaN,NaN,NaN

In [11]:
promo_week = pd.melt(promo_raw, id_vars=['Cluster', 'PLU'], 
                                    value_vars=promo_raw.columns[2:].values.tolist(), 
                                    var_name='week_start', value_name='Reg_promo')

promo_week['week_start'] = pd.to_datetime(promo_week['week_start'])
promo_week['Week'] = promo_week['week_start'].dt.week
promo_week['Reg_promo'] = np.where(promo_week['Reg_promo'].isnull(), 0, 1)
promo_week = promo_week[['Cluster', 'PLU', 'week_start', 'Week', 'Reg_promo']]

---

In [1]:
test_weeks = [pd.Timestamp('2017-05-02'), pd.Timestamp('2017-05-09'), pd.Timestamp('2017-05-16'), pd.Timestamp('2017-05-23')]

train = history_week[(history_week['week_start'] > history_week['week_start'].min()) & 
                             (history_week['week_start'] < pd.Timestamp('2017-04-18'))].copy()
test = history_week[history_week['week_start'].isin(test_weeks)].copy()

NameError: name 'history_week' is not defined

In [15]:
plu_main = [3182856, 3182857, 3182853]
train_pivot = train[train['PLU'].isin(plu_main)]
train_pivot = train_pivot.pivot_table(
    index=['Cluster', 'week_start'], columns=['PLU'], values=['Reg_promo']).reset_index()

train_pivot.columns = [col[0]+str(col[1]) for col in train_pivot.columns.values]

train = train.merge(train_pivot, on=['Cluster', 'week_start'], how='left')

train['Can56'] = train.loc[(train['Reg_promo']==0)&(train['Reg_promo3182856']==1), 'Qty']
train['Can57'] = train.loc[(train['Reg_promo']==0)&(train['Reg_promo3182857']==1), 'Qty']
train['Can53'] = train.loc[(train['Reg_promo']==0)&(train['Reg_promo3182853']==1), 'Qty']

In [16]:
holidates = [pd.Timestamp('2015-04-07'), pd.Timestamp('2016-04-26'), pd.Timestamp('2015-12-29'), pd.Timestamp('2016-12-27'), pd.Timestamp('2017-04-11')]
nyholy = [pd.Timestamp('2015-12-29'), pd.Timestamp('2016-12-27')]
eaholy = [pd.Timestamp('2015-04-07'), pd.Timestamp('2016-04-26'), pd.Timestamp('2017-04-11')]

train['Holy'] = train.loc[train['week_start'].isin(holidates), 'Qty']
train['NYHoly'] = train.loc[train['week_start'].isin(nyholy), 'Qty']
train['EAHoly'] = train.loc[train['week_start'].isin(eaholy), 'Qty']

hs_sum_train = train.groupby(['Cluster', 'week_start'], as_index=False)['Reg_promo'].agg({'Reg_promo_sum':np.sum})
train = train.merge(hs_sum_train, on=['Cluster', 'week_start'], how='left')
train['Reg_promo_sum'] = train['Reg_promo_sum'] - train['Reg_promo']

train['Promo'] = train.loc[train['Reg_promo']==1, 'Qty']
train['Can1'] = train.loc[(train['Reg_promo']==0)&(train['Reg_promo_sum']==1), 'Qty']
train['Can2'] = train.loc[(train['Reg_promo']==0)&(train['Reg_promo_sum']==2), 'Qty']

prev_train = train[['Cluster', 'PLU', 'week_start', 'Reg_promo']].rename(columns={'Reg_promo':'prev_promo'})
prev_train['week_start'] = prev_train['week_start'] + pd.Timedelta('7 days')
train = train.merge(prev_train, on=['Cluster', 'PLU', 'week_start'], how='left')

train['AfterPromo'] = train.loc[(train['prev_promo']==1)&(train['Reg_promo_sum']==0)&
                                (train['Reg_promo']==0)&(~train['week_start'].isin(holidates)), 'Qty']

train.loc[(train['week_start'].isin(holidates))|(train['Reg_promo']==1)|(train['Reg_promo_sum']!=0)|
          (train['prev_promo']==1), 'Qty'] = np.NaN

train['Qty med'] = train[['Cluster', 'PLU', 'week_start', 'Qty']].groupby(['Cluster', 'PLU']).apply(lambda group: 
                                group.rolling(9, min_periods=3, center=True, on='week_start').median())['Qty']

train.loc[(train['Qty'] > 1.5*train['Qty med'])|(train['Qty'] < 0.7*train['Qty med']), 'Qty'] = np.NaN

train['Qty int'] = train[['Cluster', 'PLU', 'week_start', 'Qty']].groupby(['Cluster', 'PLU']).apply(lambda group: 
                                group.interpolate(limit=100, limit_direction='both'))['Qty']

In [17]:
for col in ['Holy', 'NYHoly', 'EAHoly', 'Promo', 'Can1', 'Can2', 'Can56', 'Can57', 'Can53', 'AfterPromo']:
    train[col+',%'] = train[col]/train['Qty int']
train_cor = train.groupby(['PLU', 'Cluster'])['Holy,%', 'NYHoly,%', 'EAHoly,%', 'Promo,%', 'Can1,%', 'Can2,%', 
                                              'Can56,%', 'Can57,%', 'Can53,%', 'AfterPromo,%'].agg([np.mean,np.std])

---

In [19]:
def invboxcox(y,lmbda):
    if lmbda == 0:
        return(np.exp(y))
    else:
        return(np.exp(np.log(lmbda*y+1)/lmbda) * 10000)

In [22]:
train.head(1)

,Cluster,PLU,week_start,Week,category,Qty,Reg_promo,CFO,Reg_promo3182853,Reg_promo3182856,Reg_promo3182857,Can56,Can57,Can53,Holy,NYHoly,EAHoly,Reg_promo_sum,Promo,Can1,Can2,prev_promo,AfterPromo,Qty med,Qty int,"Holy,%","NYHoly,%","EAHoly,%","Promo,%","Can1,%","Can2,%","Can56,%","Can57,%","Can53,%","AfterPromo,%"
0,CH,3182853,2015-02-10,7,0,13194.0,0,1771,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,9730.0,13194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
train[(train['PLU']==3474420) & (train['Cluster']=='TA')]

,Cluster,PLU,week_start,Week,category,Qty,Reg_promo,CFO,Reg_promo3182853,Reg_promo3182856,Reg_promo3182857,Can56,Can57,Can53,Holy,NYHoly,EAHoly,Reg_promo_sum,Promo,Can1,Can2,prev_promo,AfterPromo,Qty med,Qty int,"Holy,%","NYHoly,%","EAHoly,%","Promo,%","Can1,%","Can2,%","Can56,%","Can57,%","Can53,%","AfterPromo,%"
2285,TA,3474420,2017-04-04,14,1,NaN,0,2037,0.0,1.0,0.0,8431.0,NaN,NaN,NaN,NaN,NaN,1,NaN,8431.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2286,TA,3474420,2017-04-11,15,1,NaN,0,2725,0.0,0.0,0.0,NaN,NaN,NaN,28780.0,NaN,28780.0,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
predictions = pd.DataFrame()
for (plu,cl), group in train.groupby(['PLU', 'Cluster']):
    if (plu,cl) == (3474420, 'TA'):
        continue
    data = group.set_index('week_start')
    data['Qty int'] =  data['Qty'].interpolate(limit=100, limit_direction='both')
    data['Qty box'], lmbda = st.boxcox(data['Qty int']/10000)
    
    if (plu==3474420)|(cl in ('SB','UR')):
        model = sm.tsa.statespace.SARIMAX(data['Qty box'], order=(1, 0, 0), seasonal_order=(0, 0, 0, 0), 
                                          trend='ct').fit(disp=-1)
    else:
        model = sm.tsa.statespace.SARIMAX(data['Qty box'], order=(2, 0, 0), seasonal_order=(0, 0, 0, 52), 
                                          trend='ct').fit(disp=-1)
        
    group_pred = invboxcox(model.predict(start=pd.Timestamp('2017-02-07'), 
                                         end=pd.Timestamp('2017-06-06'), freq='W-TUE'), lmbda)
    group_pred = pd.DataFrame(group_pred).reset_index()
    group_pred.columns=['week_start', 'Qty sarima']
    group_pred['PLU'] = plu
    group_pred['Cluster'] = cl
    
    predictions = predictions.append(group_pred)

In [30]:
result=predictions.copy()

In [42]:
test_result = promo_week.merge(predictions, on=['Cluster', 'PLU', 'week_start'], how='left')

In [44]:
test_result['PLU'] = test_result['PLU'].astype(int)
test_pivot = test_result[test_result['PLU'].isin(plu_main)]
test_pivot = test_pivot.pivot_table(
    index=['Cluster', 'week_start'], columns=['PLU'], values=['Reg_promo']).reset_index()

test_pivot.columns = [col[0]+str(col[1]) for col in test_pivot.columns.values]

test_result = test_result.merge(test_pivot, on=['Cluster', 'week_start'], how='left')

test_result.loc[(test_result['PLU']==3182856)&(test_result['Reg_promo']==1), 'Reg_promo3182856'] = 0
test_result.loc[(test_result['PLU']==3182853)&(test_result['Reg_promo']==1), 'Reg_promo3182853'] = 0
test_result.loc[(test_result['PLU']==3182857)&(test_result['Reg_promo']==1), 'Reg_promo3182857'] = 0

In [46]:
train_min = train_cor[[('Promo,%','mean'), ('Can56,%','mean'), ('Can57,%','mean'), 
                       ('Can53,%','mean'), ('EAHoly,%','mean'), ('Holy,%','mean')]].reset_index()
train_min.columns = train_min.columns.droplevel(1)

train_min['coe'] = train_min['EAHoly,%']/train_min['Holy,%']
train_min['coe'] = train_min.groupby(['PLU'])['coe'].transform(lambda x: x.fillna(x.mean()))
train_min['EAHoly,%'] = train_min['EAHoly,%'].fillna(train_min['Holy,%']*train_min['coe'])
train_min['EAHoly,%'] = train_min['EAHoly,%'].fillna(train_min['Holy,%'])
train_min = train_min.drop(['Holy,%','coe'], axis=1)

In [47]:
test_result = test_result.merge(train_min, on=['PLU', 'Cluster'],how='left')
test_result[['Can56,%', 'Can57,%', 'Can53,%']] = test_result[['Can56,%', 'Can57,%', 
                                                              'Can53,%']].clip_upper(1).fillna(1)

In [49]:
test_result['Qty pred'] = test_result['Qty sarima']
test_result.loc[test_result['Reg_promo']==1,['Qty pred']] = test_result.loc[test_result['Reg_promo']==1,
                                    ['Qty pred', 'Promo,%']].product(axis=1)
test_result.loc[test_result['Reg_promo3182853']==1,['Qty pred']] = test_result.loc[test_result['Reg_promo3182853']==1,
                                    ['Qty pred', 'Can53,%']].product(axis=1)
test_result.loc[test_result['Reg_promo3182856']==1,['Qty pred']] = test_result.loc[test_result['Reg_promo3182856']==1,
                                    ['Qty pred', 'Can56,%']].product(axis=1)
test_result.loc[test_result['Reg_promo3182857']==1,['Qty pred']] = test_result.loc[test_result['Reg_promo3182857']==1,
                                    ['Qty pred', 'Can57,%']].product(axis=1)
test_result.loc[test_result['week_start'].isin(eaholy),['Qty pred']] = test_result.loc[test_result['week_start'].isin(eaholy),
                                    ['Qty pred', 'EAHoly,%']].product(axis=1)

In [52]:
writer = pd.ExcelWriter('EDF_06.xlsx')
test_result[['Cluster', 'PLU', 'week_start', 'Reg_promo', 'Qty pred']].to_excel(writer, 'Main', index=True)
writer.save()

In [34]:
def wape_base(preds, y_true):
    return np.sum(np.abs(y_true-preds))/np.sum(y_true)

In [35]:
for week in test_weeks:
    test_t = test_result[test_result['week_start']==week]
    print(week, wape_base(test_t['Result'],test_t['Result r']))

2017-03-14 00:00:00 0.1969078884150992
2017-03-21 00:00:00 0.23787998724688855
2017-03-28 00:00:00 0.39496883048748155
2017-04-04 00:00:00 0.2612225304239846
2017-04-11 00:00:00 0.19737258110253433
2017-04-18 00:00:00 0.3683921659075151

In [50]:
test_result.head(1)

,Cluster,PLU,week_start,Week,Reg_promo,Qty sarima,Reg_promo3182853,Reg_promo3182856,Reg_promo3182857,"Promo,%","Can56,%","Can57,%","Can53,%","EAHoly,%",Qty pred,Result
0,CH,3182853,2017-05-02,18,0,55702.714668,0,0,0,NaN,0.960572,1.0,1.0,1.864513,55702.714668,55702.714668

In [24]:
# ['CH', 'CT', 'NG', 'SA', 'SB', 'SZ', 'TA', 'UG', 'UR']
# [3182856, 3182857, 3474420, 3182853, 3182864]

plu = 3474420
cl = 'TA'
p = 50

hsx = train[(train['PLU']==plu) & (train['Cluster']==cl)]
hsx_test = test_result[(test_result['PLU']==plu) & (test_result['Cluster']==cl)]


plt.plot_date(hsx['week_start'][-p:], hsx['Qty'][-p:], c='c')
plt.plot_date(hsx['week_start'][-p:], hsx['Qty int'][-p:], c='g', ls='-', marker='')
plt.plot_date(hsx_test['week_start'], hsx_test['Qty pred'], c='magenta', ls='-', marker='')
plt.plot_date(hsx_test['week_start'], hsx_test['Qty'], c='r')

plt.xticks(rotation='vertical')
_ = 0

NameError: name 'test_result' is not defined